.defaultButton{
  position: absolute;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: none;
  border:1px solid white;
  top:-60px;
  right: -1px;
  background-color:#15c1d1;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

.defaultButton:hover{
  box-shadow: 0 0 10px aqua;
}


